<!DOCTYPE html>
<html lang="en">

<%- temps.head %>

<body id="page-top">
<!-- Navigation -->
<%- temps.navbar %>

<!-- About Section -->
<section class="page-section bg-white text-dark mb-0" id="form">
    <div class="container" style="text-align: center;">
        <!-- About Section Heading -->
        <h2 class="page-section-heading text-center text-uppercase text-dark"><%= display.headText %></h2>
        <br>
        <!-- Icon Divider -->
        <div class="divider-custom divider-dark">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon" style="font-weight: bold;"><%= display.underText %> </div>
            <div class="divider-custom-line"></div>
        </div>
        <p class="lead"><%= display.detail %></p>
        <% if (display.error) {%>
        <p class="lead"><strong>If you think this is a problem, or that something is wrong, please tell us.</strong></p>
          <%}%>
        <br>
        <% if (display.gmail) {%>
        <a href="https://mail.google.com" class="basicButton" target="_blank">Go to Gmail</a>
        <%} else {%>
        <a href="/" class="basicButton">Home Page</a>
        <%}%>


    </div>
</section>


<!-- Copyright Section -->
<footer class="copyright py-4 text-center text-white" style="position: absolute; bottom: 0; width: 100%;">
    <%- temps.footer %>
</footer>
<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
<div class="scroll-to-top d-lg-none position-fixed ">
    <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top">
        <i class="fa fa-chevron-up"></i>
    </a>
</div>

<!-- Bootstrap core JavaScript -->
<!-- <script src="vendor/jquery/jquery.min.js"></script> -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"
        integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm" crossorigin="anonymous">
</script>
<!-- Plugin JavaScript -->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>
<!-- Custom scripts for this template -->
<script src="js/base.js"></script>
</body>

</html>
