<!DOCTYPE html>
<html lang="en">

<%- temps.head %>

<body id="page-top">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg bg-secondary text-uppercase text-dark fixed-top" id="mainNav" style="  background-color: rgba(234, 255, 229, 1) !important;
                                                                                          ">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger text-dark" href="#page-top"><%= temps.title %></a>
            <button
                class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-white text-dark rounded"
                type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
                <img src="img/bar.png" alt="" width="20px">
            </button>
            <div class="collapse navbar-collapse text-dark" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item mx-0 mx-lg-1">
                        <a class="nav-link py-3 px-0 px-lg-3 text-dark rounded js-scroll-trigger"
                           href="#getStarted"><strong>Get Started</strong></a>
                    </li>
                    <li class="nav-item mx-0 mx-lg-1">
                        <a class="nav-link py-3 px-0 px-lg-3 text-dark rounded js-scroll-trigger" href="#about">About Us</a>
                    </li>
                    <li class="nav-item mx-0 mx-lg-1">
                        <a class="nav-link py-3 px-0 px-lg-3 text-dark rounded js-scroll-trigger" href="#info">Information</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Masthead -->
    <header class="masthead bg-primary text-white text-center" id="headrr">
        <div class="container d-flex align-items-center flex-column">
            <h1 class="page-section-heading text-center text-uppercase text-dark"><%= temps.title %></h1>
            <!-- Icon Divider -->
            <div class="divider-custom divider-dark">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon">
                    <img src="img/logo.png" alt="School logo" width="50px">
                </div>
                <div class="divider-custom-line"></div>
            </div>
            <!-- Masthead Subheading -->
            <p class="masthead-subheading font-weight-bold mb-0 text-dark"><3</p>
        </div> <div class="container">
                    <%- inputValue %>
        </div>
    </header>

    <!-- About Section -->
    <section class="page-section bg-white text-dark mb-0" id="getStarted">
        <div class="container">
            <!-- About Section Heading -->
            <h2 class="page-section-heading text-center text-uppercase text-dark">Getting Started</h2>
            <!-- Icon Divider -->
            <div class="divider-custom divider-dark">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon">
                    <img src="img/handshake.png" alt="Opusteno logo" width="50px">
                </div>
                <div class="divider-custom-line"></div>
            </div>
            <!-- About Section Content -->
            <center>
                <p class="lead">
                  All you need to do is enter your <i>school email</i> into the box above, then press the link we sent you, and you'll be ready to go.
                </p>
                <p class="lead">
                  This is just to confirm that you are indeed a student of this school, and, unless you choose to do so, your identity will not ever be recorded, nor your private information shared.
                </p>
            </center>
            <br>
            <center><a href="#page-top" class="basicButton js-scroll-trigger">CONTINUE</a></center>
        </div>
    </section>

    <!-- About Section -->
    <section class="page-section bg-primary text-white mb-0" id="about">
        <div class="container">
            <!-- About Section Heading -->
            <h2 class="page-section-heading text-center text-uppercase text-white">ABOUT US</h2>
            <!-- Icon Divider -->
            <div class="divider-custom divider-light">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon">
                    <img src="img/handshake-white.png" alt="School logo" width="50px">
                </div>
                <div class="divider-custom-line"></div>
            </div>
            <!-- About Section Content -->
            <center>
                <p class="lead">We are students of Druga Gimanzija Sarajevo, a local highschool, attending the IB-myp program, and this is out community project. Our names are Ahmed, Ivor, and Tin.</p>
                <p class="lead">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
            </center>
            <br>
            <center><a href="https://2gimnazija.edu.ba/en" class="basicButton invertButton" target="_blank" >OUR SCHOOL</a></center>

        </div>
    </section>

    <!-- About Section -->
    <section class="page-section bg-white text-dark mb-0" id="info">
        <div class="container">
            <!-- About Section Heading -->
            <h2 class="page-section-heading text-center text-uppercase text-dark">Information</h2>
            <!-- Icon Divider -->
            <div class="divider-custom divider-dark">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon">
                    <img src="img/handshake.png" alt="Opusteno logo" width="50px">
                </div>
                <div class="divider-custom-line"></div>
            </div>
            <!-- About Section Content -->
            <center>
                <p class="lead">If you're interested in knowing these details, this is how we handle <i>information we receive from students:</i></p>
                <p class="lead">
                  First of all, the <i>only person</i> that has the right to read the messages is "the authority", or in this case the pedagogue. <br> No one else will see your messages.
                </p>
                <p class="lead">
                  We do keep a record of <i>message timestamps and such</i>, simply so <i>you</i> can have proof of reporting something/someone or making a request if you ever need it.
                </p>
            </center>
            <br>
            <center><a href="#page-top" class="basicButton js-scroll-trigger">CONTINUE</a></center>
        </div>
    </section>


    <!-- Copyright Section -->
    <section class="copyright py-4 text-center text-white">
        <%- temps.footer %>
    </section>
    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-to-top d-lg-none position-fixed ">
        <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top">
            <i class="fa fa-chevron-up">^</i>
        </a>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"
        integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm" crossorigin="anonymous">
    </script>
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="js/base.js"></script>
</body>

</html>
